# Solving Problem 2

## Importing the Pandas Library

In [1]:
import pandas as pd

## a) pd_read_html('URL'), Importing a table via HTML page from Wikipedia page

In [2]:
data = pd.read_html('https://en.wikipedia.org/wiki/2016_Summer_Olympics_medal_table')

## using type to check the datatype of the importing data page

In [3]:
type(data)

list

## b) using len to get the number of tables in the page

In [4]:
len(data)

8

## c) converting each table into a dataframe and checking 1 by 1 which is the table for olympics results, it is table 3

## d) using medalsDf=data[3] stores the data into a dataframe

In [23]:
medalsDf=data[3]
print(medalsDf)

                   Rank                   NOC  Gold  Silver  Bronze  Total
0                     1         United States    46      37      38    121
1                     2         Great Britain    27      23      17     67
2                     3                 China    26      18      26     70
3                     4                Russia    19      17      20     56
4                     5               Germany    17      10      15     42
..                  ...                   ...   ...     ...     ...    ...
82                   78               Nigeria     0       0       1      1
83                   78              Portugal     0       0       1      1
84                   78   Trinidad and Tobago     0       0       1      1
85                   78  United Arab Emirates     0       0       1      1
86  Totals (86 entries)   Totals (86 entries)   306     307     359    972

[87 rows x 6 columns]

## e) Extracting the top 20 countries in the medal table and storing the rows in a new df

In [22]:
top20df = df.iloc[0:20]
print(top20df)

   Rank            NOC  Gold  Silver  Bronze  Total
0     1  United States    46      37      38    121
1     2  Great Britain    27      23      17     67
2     3          China    26      18      26     70
3     4         Russia    19      17      20     56
4     5        Germany    17      10      15     42
5     6          Japan    12       8      21     41
6     7         France    10      18      14     42
7     8    South Korea     9       3       9     21
8     9          Italy     8      12       8     28
9    10      Australia     8      11      10     29
10   11    Netherlands     8       7       4     19
11   12        Hungary     8       3       4     15
12   13        Brazil*     7       6       6     19
13   14          Spain     7       4       6     17
14   15          Kenya     6       6       1     13
15   16        Jamaica     6       3       2     11
16   17        Croatia     5       3       2     10
17   18           Cuba     5       2       4     11
18   19    New Zealand     4       9       5     18
19   20         Canada     4       3      15     22